div.toc {
    position:fixed;
    left:-18%;
    right:78%;
    background-color:#cccccc;
    border-color:blue;
    border-style:solid;
    border-radius:15px;
    padding-right:10px;
    max-height:86%;
    overflow:hidden scroll
}
  
div.container, div.toc {
    margin-left:20%;
    margin-right:5%;
}

div.editorContainer > div.container, textarea.textEditor {
    min-width: 30%;
    min-height: 40%;
    background-color:#fff;
    border-color:orange;
    border-style:solid;
    border-radius:15px;
    padding:0 10px 0 10px;
    margin: 0;
}

div.editorContainer {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    justify-content: center;
    align-items: center normal;


    margin: 50px 5%;
}

.cblock {
    border-radius: 1.5px;
}


/* FancyButtons CSS */

.editorButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 7px;

    padding: 15px;
}

.nyabutton {
    border-radius: 3px;
    border-style: solid;
    border-color: hsl(180, 32%, 85%);
    background-color: hsl(180, 81%, 85%);
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 6px;

    text-align: center;
    user-select: none;
    padding: 3px;
}

.nyabutton:hover {
    background-color: hsl(180, 81%, 74%);
    cursor: pointer;
}

.nyabutton:active {
    background-color: hsl(180, 81%, 54%);
    cursor: pointer;
}

.nyabutton > img {
    width: 1.3em;
    height: auto;
    vertical-align: middle;
}