div.toc {
    position:fixed;
    left:-18%;
    right:78%;
    background-color:#cccccc;
    border-color:blue;
    border-style:solid;
    border-radius:15px;
    padding-right:10px;
    max-height:86%;
    overflow:hidden scroll
}
  
div.container, div.toc {
    margin-left:20%;
    margin-right:5%;
}

div#root > div.container {
    margin-top:25px;
    margin-bottom:50px;
    background-color:#fff;
    border-color:orange;
    border-style:solid;
    border-radius:15px;
    padding:0 10px 0 10px;
    margin-left:20%;
    margin-right:20%;
}

div#root > div.container:first-child {
    margin-top:50px;
}

.cblock {
    border-radius: 1.5px;
}

a, .mdoclink {
    color: #0c93e4;
    text-decoration: underline;
    text-decoration-skip-ink: ink
}

a:focus,a:hover, .mdoclink:focus,.mdoclink:hover {
    text-decoration: none;
    cursor: pointer;
}